node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
backend/.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
dist

# Python cache
__pycache__/
*.pyc

# Ignore backend env
backend/.env

# JetBrains IDE files
.idea/

