@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin 'flowbite/plugin';

@layer base {
	button:not(:disabled),
	[role='button']:not(:disabled) {
		cursor: pointer;
	}
}

@custom-variant dark (&:where(.dark, .dark *));

.tooltip {
	@apply invisible absolute;
}

.has-tooltip:hover .tooltip {
	@apply visible z-50;
}

@theme {
	--color-secondary-50: oklch(0.984 0.003 247.858);
	--color-secondary-100: oklch(0.968 0.007 247.896);
	--color-secondary-200: oklch(0.929 0.013 255.508);
	--color-secondary-300: oklch(0.869 0.022 252.894);
	--color-secondary-400: oklch(0.704 0.04 256.788);
	--color-secondary-500: oklch(0.554 0.046 257.417);
	--color-secondary-600: oklch(0.446 0.043 257.281);
	--color-secondary-700: oklch(0.372 0.044 257.287);
	--color-secondary-800: oklch(0.279 0.041 260.031);
	--color-secondary-900: oklch(0.208 0.042 265.755);
	--color-secondary-950: oklch(0.129 0.042 264.695);

	--color-primary-50: oklch(0.985 0 0);
	--color-primary-100: oklch(0.97 0 0);
	--color-primary-200: oklch(0.922 0 0);
	--color-primary-300: oklch(0.87 0 0);
	--color-primary-400: oklch(0.708 0 0);
	--color-primary-500: oklch(0.556 0 0);
	--color-primary-600: oklch(0.439 0 0);
	--color-primary-700: oklch(0.371 0 0);
	--color-primary-800: oklch(0.269 0 0);
	--color-primary-900: oklch(0.205 0 0);
	--color-primary-950: oklch(0.145 0 0);

	--color-danger-50: oklch(0.971 0.013 17.38);
	--color-danger-100: oklch(0.936 0.032 17.717);
	--color-danger-200: oklch(0.885 0.062 18.334);
	--color-danger-300: oklch(0.808 0.114 19.571);
	--color-danger-400: oklch(0.704 0.191 22.216);
	--color-danger-500: oklch(0.637 0.237 25.331);
	--color-danger-600: oklch(0.577 0.245 27.325);
	--color-danger-700: oklch(0.505 0.213 27.518);
	--color-danger-800: oklch(0.444 0.177 26.899);
	--color-danger-900: oklch(0.396 0.141 25.723);
	--color-danger-950: oklch(0.258 0.092 26.042);

	--color-pila-primary: oklch(0.4389 0.2402 270.17);
}

@layer base {
	html {
		-webkit-text-size-adjust: 100%;
		font-family:
			Inter,
			ui-sans-serif,
			system-ui,
			-apple-system,
			Segoe UI,
			Roboto,
			Helvetica Neue,
			Arial,
			Noto Sans,
			sans-serif,
			Apple Color Emoji,
			Segoe UI Emoji,
			Segoe UI Symbol,
			Noto Color Emoji;
		line-height: 1.5;
		-moz-tab-size: 4;
		tab-size: 4;
	}

	.related-components,
	.references {
		@apply flex w-full flex-wrap;
	}

	.related-components p,
	.references p {
		@apply w-full md:w-1/2 lg:w-1/3;
	}

	#mainContent > pre {
		@apply mx-auto my-4 w-full overflow-auto rounded-xl border border-gray-200 bg-gray-50 bg-gradient-to-r p-2 text-sm text-gray-600 sm:p-6 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-400;
	}
}

@layer components {
	.svelte-select {
		@apply !bg-gray-50 dark:!bg-gray-900;
	}

	.svlete-select-list {
		@apply !bg-gray-50 dark:!bg-gray-900;
	}
}

.ProseMirror h1,
.ProseMirror h2 {
	@apply font-bold;
}

.ProseMirror h1 {
	@apply text-3xl;
}

.ProseMirror h2 {
	@apply text-2xl;
}

.ProseMirror h3 {
	@apply text-xl;
}

.tiptap p.is-editor-empty:first-child::before {
	color: #adb5bd;
	content: attr(data-placeholder);
	float: left;
	height: 0;
	pointer-events: none;
}

.tiptap {
	img {
		&.ProseMirror-selectednode {
			@apply outline-primary-800 outline-4;
		}
	}
}

.ProseMirror ul {
	@apply /* li p { margin-top: 0.25em; margin-bottom: 0.25em; } */ list-disc px-5;
}

.ProseMirror ol {
	@apply list-decimal px-5;
}

@source "../node_modules/flowbite-svelte/dist";
